header {
  padding-top: 20px;

}


.search{
  width: 350px;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #324950; 
}

form.search-field input[type=text] {
  padding: 0;
  font-size: 16px;
  border: none;
  float: left;
  width: 92%;
  background: transparent;    
}
  
form.search-field button {
  float: left;
  width: 8%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar-brand {
  margin: 0;
  padding: 0;
 }
 
.navbar{
   justify-content: space-between;
   padding: 0;
   padding-bottom: 19px;
}

.left-part-nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}


.nav-lnk{
  margin-top: 23px;
}

.navbar-nav{
  width: 500px;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
  color: #324950;
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  line-height: 26px;
  padding: 0;
}

.header-bg{
  display: flex;
justify-content: center;
}

.header-bg-img{
    max-width: 100%;
  }

  .main{
    padding-bottom: 50px;
    background-color: #F7F7F7;
    }

  .main-caption{
    margin-top: 51px;
  }


.capitals{
  column-count: 2;

}


.main-caption h1{
  
font-family: Roboto Slab;
font-weight: 700;
font-size: 44px;
line-height: 63px;
color: #324950;
}

.xxxx{
  margin-top: 40px;
  margin-bottom: 30px;
}

.cart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}

.cart-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 215px;
  width: 400px;
  background-color: #DADADA;
  border-radius: 40px;
  justify-content: center;
  margin-bottom: 20px;
}


.cart-item-info{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  height: 175px;
}

.cart-item-info .title {
  font-family: Roboto Slab;
font-weight: 400;
font-size: 1.2rem;

}

.cart-item-info .disc{
  font-family: Roboto Slab;
font-weight: 400;
}

.cart-item-info img{
  width: 100px;
}


label{
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  font-family: Roboto Slab;
font-weight: 400;
font-size: 17px;
line-height: 25px;

color: #324950;
}

.text-field input[type="text"] {
  width: 100%;
  height: 55px;
background: #FFFFFF;
border: 1px solid #DADADA;
box-sizing: border-box;
border-radius: 10px;
}

.list-field select{
  width: 100%;
  height: 55px;
  background: #FFFFFF;
border: 1px solid #DADADA;
box-sizing: border-box;
border-radius: 10px;
}

.text-area-field{
  height: 420px;
}

.text-area-field textarea{
  background: #FFFFFF;
border: 1px solid #DADADA;
box-sizing: border-box;
border-radius: 10px;
resize: none;
width: 100%;
height: 386px;
}

.submit-field {
  display: flex;
  align-items: center;
}
.submit-field input[type="text"]{
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 10px;
  width: 225px;
  height: 55px;
  margin-left: 26px;
}

.submit-field button{
  background: #57984C;
border-radius: 60px;
height: 55px;
max-width: 255px;
width: 100%;
border: none;
margin-left: 30px;

font-family: Roboto Slab;
font-weight: 400;
font-size: 17px;
line-height: 34px;
color: #FFFFFF;

}

.text-field{
  display: block ;
}

.contacts-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 44px;
}

.contacts-text p{
  font-family: Roboto Slab;
font-weight: 400;
font-size: 17px;
line-height: 25px;

color: #324950;
display: block;
margin-bottom: 0;
}

.contacts-text h3{
  text-align: center;
  font-family: Roboto Slab;
font-weight: 700;
font-size: 20px;
line-height: 29px;

color: #57984C;
display: block;
 width: 183px;
 padding-bottom: 12px;
 border-bottom: 1px solid #57984C;
}

.contacts-text p a{
  font-family: Roboto Slab;
font-weight: 400;
font-size: 17px;
line-height: 25px;

color: #57984C;
}

.foobar{
  
  background: #2D3F45;
  padding: 23px 0;
  align-items: center;
  
}
.footer-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-menu a{
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.footer-links{
  width: 210px;
  display: flex;
  justify-content: space-around;

}

.copyrights {
  background: #324950;
  padding: 18px 0 13px 0;
  margin: 0;

}
.copyrights p{
  text-align: center;
  font-family: Roboto;
font-weight: 400;
font-size: 14px;

color: #B9B9B9;
margin: 0;
}


a { 
  text-decoration: none; 
 } 

 a:hover { 
  text-decoration: none; 
 
 } 

  a:focus, .button:focus, .button.alt:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"], input[type="text"]:focus, select:focus, textarea:focus {
    outline: none;
}