header {
  padding-top: 20px;
  background: url('../img/bg.jpg') no-repeat center top ;
  height: 850px;
}

.search{
  width: 350px;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #324950; 

}

form.search-field input[type=text] {
  padding: 0;
  font-size: 16px;
  border: none;
  float: left;
  width: 92%;
  background: transparent;    
}
  
form.search-field button {
  float: left;
  width: 8%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar-brand {
 margin: 0;
 padding: 0;
}

.navbar{
  justify-content: space-between;
  padding: 0;
}

.left-part-nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-lnk{
  margin-top: 42px;
}

.navbar-nav{
  width: 500px;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
  color: #324950;
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  line-height: 26px;
  padding: 0;
}

.xxxx{
  margin-top: 25px;
  margin-bottom: 30px;
}

.caption{
  margin-top: 21%;
  padding-bottom: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption-text{
  text-align: center;
  color: #735440;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.caption-btn{
  display: block;
  margin-top: 60px;
  padding: 16px 31px;
  text-transform: uppercase;
  background: #57984C;
  border: none;
  border-radius: 0;
  letter-spacing: 0.07em;
  color: white;
  font-size: 16px;
}

.menu{
  display: flex;
  justify-content: center;
  padding: 44px 0;
}

.menu-element{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 400;
}

.menu-element img{
  height: 52px;
}

.menu-element p{
  margin-top: 20px;
  margin-bottom: 0px;
}

.home-main{
padding-top:  21px;
padding-bottom:  50px;
background: url('../img/Union.png') ;
background-position: center;
background-repeat: no-repeat;
background-color: #F7F7F7;
}

.left-text {
padding-left: 40px;
margin-top: 107px;
}

.home-main-block{
padding-top: 50px;
padding-bottom: 50px;
}

.left-text h1{
font-family: Roboto Slab;
font-size: 64px;
font-weight: 700;
color: #324950;
}
  
.left-text p{
  max-width: 475px;
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 400;
}

.main-block-img .photo{
  width: 100%;
}

.main-block-img img{
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.play-btn{
  position: absolute;
  left: 41%;
  top: 41%;
}

.activities{
 background: #EDEDED;
}

.activities h1{
  font-family: Roboto Slab;
  font-size: 64px;
  font-weight: 700;
  color: #324950;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 25px;
} 

.filler{
  display:flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 65px;
}

.seeds{
  padding-bottom: 91px;
}

.seed-img {
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seeds h2{
display: block;
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 24px;
color: #57984C;
text-align: center;
}

.seeds h2::after{
  display: flex;
  content: "";
  width: 183px;
  border-bottom: 1px solid #57984C;
 margin: 27px auto 0 auto;
}

.seeds p{
  display: block;
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #324950;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  margin: 0px;
}

.foobar{
  background: #2D3F45;
  padding: 23px 0;
  align-items: center;
}

.footer-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-menu a{
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.footer-links{
  width: 210px;
  display: flex;
  justify-content: space-between;

}

.copyrights {
  background: #324950;
  padding: 18px 0 13px 0;
  margin: 0;

}
.copyrights p{
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #B9B9B9;
  margin: 0;
}

a { 
  text-decoration: none; 
} 

a:hover { 
  text-decoration: none; 
} 

a:focus, .button:focus, .button.alt:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"], input[type="text"]:focus {
  outline: none;
}