@media (max-width: 1198px){

    .left-part-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }


    .search{
        margin-top: 10px;
    }
}

@media (max-width: 991px){

   

    .footer-menu a{
        font-size: 12px;
    }

    .submit-field input[type="text"] {
        width: 100px;
    }

}


@media (max-width: 812px){
    .footer-menu a{
        font-size: 12px;
    }
}

@media (max-width: 767px){

 
    .footer-links{
        margin-top: 5px;
        justify-content: space-around;
    }

    .foobar{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 492px){
 
    
}

@media (max-width: 414px){
 
    .search{
        width: 315px;
    }

    .footer-menu a{
        font-size: 10px;
    }

    .submit-field button{

        font-size: 12px;
        line-height: 24px;
        
        }
}

@media (max-width: 350px){
    .search{
        width: 260px;
    }

    .footer-menu a{
        font-size: 8px;
    }

    
}


