@media (max-width: 1659px){
    .menu-element {
        font-size: 18px;
    }
}

@media (max-width: 1570px){
    .menu-element {
        font-size: 16px;
    }
}

@media (max-width: 1480px){
    .menu-element{
        margin: 0 35px;
    }
}

@media (max-width: 1260px){
    .menu-element{
        margin: 0 20px;
    }
}

@media (max-width: 1198px){
    .left-part-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .search{
        margin-top: 10px;
    }
}

@media (max-width: 1023px){
    .menu-element{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
        font-family: Roboto Slab;
        font-size: 16px;
        font-weight: 400;
    }
    
    .menu-element img{
        height: 52px;
    }
    
    .menu-element p{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .left-text{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    } 
}

@media (max-width: 1050px){
    .menu-element{
        margin: 0 15px;
    }
}

@media (max-width: 991px){
    .footer-menu a{
        font-size: 12px;
    }

    .seeds-element h2{
        font-size: 16px;
    }
    
    .seeds-element p{
        font-size: 14px;
    }

    .menu-element{
        font-size: 12px;
    }

}

@media (max-width: 909px){
    .menu-element{
        margin: 0 10px;
    }
}

@media (max-width: 812px){
    .footer-menu a{
        font-size: 12px;
    }

    .menu-element{
        font-size: 10px;
    }
}

@media (max-width: 768px){
    
    .menu-element{
        margin-right: 10px;
        margin-left: 10px;
   
    }
    
    .menu-element img{
        height: 52px;
    }
    
    .menu-element p{
        margin-top: 20px;
        margin-bottom: 0px;
    }


    .main-block-img {
        display: flex;
      align-items: center;
    }
    
    .left-text{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    .footer-links{
        margin-top: 5px;
        justify-content: space-around;
    }

    .foobar{
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
    .activities h1{
        font-size: 40px;
    }

}

@media (max-width: 767px){
    .left-text {
        padding-left: 15px;
    }
    .menu{
        flex-wrap: wrap;
    }

    .menu-element p{
        white-space: nowrap;
    }
        
}

@media (max-width: 646px){
    .menu-element {
        padding: 10px 0;
        width: 113px; 
    }

}

@media (max-width: 414px){
 
    .search{
        width: 315px;
    }

    .left-text{
        padding-left: 15px;
    }

    .footer-menu a{
        font-size: 10px;
    }
}

@media (max-width: 350px){
    .search{
        width: 260px;
    }

    .footer-menu a{
        font-size: 8px;
    }
}


@media (max-width: 375px){
    
    .caption-text{
        font-size: 30px;
    }
}
   