@media (max-width: 1198px){

    .left-part-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }


    .search{
        margin-top: 10px;
    }

    .pdf-btn{
        margin-bottom: 112px;
    }

    .content h1, .content h2{
        font-size: 46px;
    }
}

@media (max-width: 991px){

    .footer-menu a{
        font-size: 12px;
    }

    .content h1, .content h2{
        font-size: 34px;
        line-height: 60px;
    }

    .quality-mark p {

        font-size: 20px;
        line-height: 33px;
    }

    .dot-list li , .plain-list li {
        font-size: 12px;
        line-height: 24px;
    }

    .pdf-btn{
        margin-bottom: 219px;
    }
}


@media (max-width: 812px){
    .footer-menu a{
        font-size: 12px;
    }
}

@media (max-width: 767px){

    
    .footer-links{
        margin-top: 5px;
        justify-content: space-around;
    }

    .foobar{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content h1, .content h2{
        font-size: 54px;
        line-height: 77px;
    }

    .quality-mark p {

        font-size: 30px;
        line-height: 43px;
    }

    .dot-list li , .plain-list li {
        font-size: 17px;
        line-height: 28px;
    }

    .pdf-btn{
        margin-bottom: 0;
    }

    .product-card-top{
        display: block;
    }
    .product-card-right{
        display: none;
    }

}

@media (max-width: 555px){
 
    .content h1, .content h2{
        font-size: 44px;
        line-height: 57px;
    }

    .quality-mark p {

        font-size: 20px;
        line-height: 33px;
    }
}


@media (max-width: 414px){
 
    .search{
        width: 315px;
    }

    .footer-menu a{
        font-size: 10px;
    }

    .content h1, .content h2{
        font-size: 36px;
        line-height: 42px;
    }

    .quality-mark p {

        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 350px){
    .search{
        width: 260px;
    }

    .footer-menu a{
        font-size: 8px;
    }

}


