@media (max-width: 1198px){

    .left-part-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }


    .tomato-card-text a h4{
        font-size: 18px;
    }

    .tomato-card-text p{
        font-size: 14px;
    }

    .search{
        margin-top: 10px;
    }
}

@media (max-width: 991px){

    .tomato-card-text a h4{
        font-size: 16px;
    }

    .tomato-card-text p{
        font-size: 10px;
    }

    .footer-menu a{
        font-size: 12px;
    }

    .hybrids h1 {

        font-size: 35px;
    }

    .program_info h3{
        font-size: 18px;
    }

    .program_info p {
        font-size: 14px;
    }

    .program_info  {
       padding-top: 30px ;
       padding-bottom: 30px ;
       margin-top: 20px;
       margin-bottom: 20px;
    }
}


@media (max-width: 812px){
    .footer-menu a{
        font-size: 12px;
    }
}

@media (max-width: 767px){

    .tomato-card-text a h4{
        font-size: 20px;
    }

    .tomato-card-text p{
        font-size: 14px;
    }

    
    .footer-links{
        margin-top: 5px;
        justify-content: space-around;
    }

    .foobar{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


@media (max-width: 414px){
 
    .search{
        width: 315px;
    }

    .footer-menu a{
        font-size: 10px;
    }
}

@media (max-width: 350px){
    .search{
        width: 260px;
    }

    .footer-menu a{
        font-size: 8px;
    }

    .hybrids h1 {
        font-size: 26px;

    }
}


