header {
  padding-top: 20px;
  position: relative;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
}


.search{
  width: 350px;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #324950; 
}

form.search-field input[type=text] {
  padding: 0;
  font-size: 16px;
  border: none;
  float: left;
  width: 92%;
  background: transparent;    
}
  
form.search-field button {
  float: left;
  width: 8%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar-brand {
  margin: 0;
  padding: 0;
 }
 
.navbar{
   justify-content: space-between;
   padding: 0;
   padding-bottom: 19px;
}

.left-part-nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}


.nav-lnk{
  margin-top: 23px;
}

.navbar-nav{
  width: 500px;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
  color: #324950;
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  line-height: 26px;
  padding: 0;
}

.content{
  background-color: #F7F7F7;
  background-image: url('../img/tomato_one/Union.png');
  
  background-position: center;
  background-repeat: no-repeat;
}

.esc-btn{
  padding-top: 25px;
  display: flex;
  align-items: center;
}

.esc-btn p{
  margin-bottom: 0;
  margin-left: 15px;
  font-family: Roboto Slab;
font-weight: 400;
font-size: 14px;
color: #57984C;
}

.content h1 {
  font-family: Roboto Slab;
font-weight: 700;
font-size: 54px;
line-height:77px;

color: #324950;
margin-bottom: 0;
}
 
.content h2{
  font-family: Roboto Slab;

font-weight: 700;
font-size: 54px;
line-height:77px;

color: #57984C;
margin-bottom: 0;
}

.xxxx{
  margin-top: 40px;
  margin-bottom: 44px;
}

.product-card-top{
  display: none;
}

.quality-mark{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.quality-mark p{
  display: block;
  margin-left: 23px;
  font-family: Roboto Slab;
font-weight: 700;
font-size: 30px;
line-height: 43px;

color: #CF2333;
margin-bottom: 0;
}

.list-caption{
  margin-top: 30px;
}
.list-caption::after {
  display: flex;
  content: "";
  width: 183px;
  border: 1px solid #57984C;
 margin-bottom: 18px;
  
}

.list-caption h3{
  font-family: Roboto Slab;
font-weight: 700;
font-size: 20px;
line-height: 29px;

color: #57984C;
}

ul{

  list-style-type: none; 
 padding-left: 20px;

}


.plain-list ul{
  padding-left: 0;
}

.plain-list h4{
  margin-top: 30px;
font-family: Roboto Slab;
font-weight: 700;
font-size: 17px;
line-height: 28px;
color: #324950;
margin-bottom: 0;
}

.plain-list li{
  font-family: Roboto Slab;
font-weight: 400;
font-size: 17px;
line-height: 28px;
color: #324950;
}

.dot-list ul{
  list-style-type:disc;
  margin-top: 36px;
}

.dot-list li{
  padding-left: 6px;
  font-family: Roboto Slab;
font-weight: 400;
font-size: 17px;
line-height: 34px;

color: #57984C;
}

.dot-list li span{
  color: #324950;
}


.product-img{
  width: 100%;
}

.pdf-btn{
  margin-top: 30px;
  padding-bottom: 9px;
 display: flex;
 justify-content:flex-end;
 align-items: center;

 

}

.pdf-btn-ins{
  display: flex;
 align-items: center;
 justify-content: center;
 border: 2px solid #57984C;
box-sizing: border-box;
border-radius: 60px;
height: 55px;
width: 225px;
}

.pdf-btn-ins p {
  font-family: Roboto Slab;
font-weight: 700;
font-size: 17px;
color: #57984C;
margin-bottom: 0;
margin-left: 20px;
}

.main-content{
  padding-bottom: 180px;
}

.foobar{
  
  background: #2D3F45;
  padding: 23px 0;
  align-items: center;
  
}
.footer-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-menu a{
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.footer-links{
  width: 210px;
  display: flex;
  justify-content: space-around;

}

.copyrights {
  background: #324950;
  padding: 18px 0 13px 0;
  margin: 0;

}
.copyrights p{
  text-align: center;
  font-family: Roboto;
font-weight: 400;
font-size: 14px;

color: #B9B9B9;
margin: 0;
}


a { 
  text-decoration: none; 
 } 

 a:hover { 
  text-decoration: none; 
 
 } 

  a:focus, .button:focus, .button.alt:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"], input[type="text"]:focus {
    outline: none;
}