header {
  padding-top: 20px;

}


.search{
  width: 350px;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #324950; 
}

form.search-field input[type=text] {
  padding: 0;
  font-size: 16px;
  border: none;
  float: left;
  width: 92%;
  background: transparent;    
}
  
form.search-field button {
  float: left;
  width: 8%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar-brand {
  margin: 0;
  padding: 0;
 }
 
.navbar{
   justify-content: space-between;
   padding: 0;
   padding-bottom: 19px;
}

.left-part-nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}


.nav-lnk{
  margin-top: 23px;
}

.navbar-nav{
  width: 500px;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
  color: #324950;
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  line-height: 26px;
  padding: 0;
}

.header-bg{
  display: flex;
justify-content: center;
}

.header-bg-img{
    max-width: 100%;
  }

  .header-menu  {
    margin-top: 25px;
    display: flex;
    width: 500px;
    justify-content: space-between;

}

  .header-menu a {
      color: #324950;
      font-size: 18px;
      font-family: 'Heebo', sans-serif;
      font-weight: 500;
      
  }

  .main-content{
    background: #b3efb3;
  }


  
 .hybrids h1{
   padding-top: 51px;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 44px;
  color: #324950;
 } 

 .xxxx{
  margin-top: 40px;
  margin-bottom: 40px;
}



.hybrids-text{
  margin-top: -30px;
  
  font-family: Roboto Slab;
font-weight: 400;
font-size: 17px;
color: #324950;
}

.hybrids-text p{
margin-top: 30px;

  }


.bold-text{
  font-family: Roboto Slab;
font-weight: 700;
color: #324950;
}


.hybrids-lined-text{
  display: flex;
  align-items: center;

}
.hybrids-lined-text p{
  margin-left: 26px;
  padding-top:11px;
  padding-right:11px;
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 17px;

  color: #324950;
}

.program_info{
  margin-top: 30px;
  background: url('..//img/tomato_all/white_bg.png');
  padding-top: 50px;
  padding-bottom: 50px;
}

.program_info h3{
  display: block;
  height: 75px;
font-family: Roboto Slab;
font-weight: 700;
font-size: 20px;
color: #324950;
line-height: 28px;

border-bottom: 1px solid #324950;
}

.program_info p{
  margin-top: 15px;
}

.program_info p{
  font-family: Roboto Slab;

font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.hybrids-lined-text-2{
  display: flex;
  margin-top: 47px;
  margin-bottom: 47px;
}

.hybrids-lined-text-2 p{
  margin-left: 26px;
  margin-bottom: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: Roboto Slab;

font-weight: 700;
font-size: 17px;
color: #324950;
}

.tomato_cards{
  padding-bottom: 20px;
}

.tomato_card{
  background-color: white;
  background-clip: content-box;
 
  margin-bottom: 30px;
}

.tomato_card a img{
  width: 100%;
}

.tomato-card-text{
  height: 70px;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  
}

.tomato-card-text h4{
display: block;
  font-family: Roboto Slab;
font-weight: 700;
font-size: 20px;
text-align: center;
color: #57984C;
margin:0;
}

.tomato-card-text p{
  display: block;
  font-family: Roboto Slab;
font-weight: 400;
font-size: 16px;
text-align: center;
color: #57984C;
margin:0;
}


.foobar{
  
  background: #2D3F45;
  padding: 23px 0;
  align-items: center;
  
}
.footer-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-menu a{
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.footer-links{
  width: 210px;
  display: flex;
  justify-content: space-around;

}

.copyrights {
  background: #324950;
  padding: 18px 0 13px 0;
  margin: 0;

}
.copyrights p{
  text-align: center;
  font-family: Roboto;
font-weight: 400;
font-size: 14px;

color: #B9B9B9;
margin: 0;
}


a { 
  text-decoration: none; 
 } 

 a:hover { 
  text-decoration: none; 
 
 } 

  a:focus, .button:focus, .button.alt:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"], input[type="text"]:focus {
    outline: none;
}