<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto&family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/contact us.css">
    <link rel="stylesheet" href="css/responsive-contact us.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Homepage</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-xl navbar-light">
    
                <a class="navbar-brand" href="#">
                    <img src="img/Logo_small.png" alt="Agridera" class="logo">
                </a>
                <button class="nav-btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="left-part-nav">
                    <div class="search">
                        <form class="search-field">
                            <input type="text" placeholder="Search.." name="search">
                            <button><img src="img/ico_search.svg" alt="search"></button>
                        </form>
                    </div>
    
                    <div class="nav-lnk collapse navbar-collapse " id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Company Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="tomato_all.html">Products</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">R & D</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="contact us.html">Contact</a>
                        </li>
                      </ul>
                    </div>
    
                </div>
            </nav>
        </div>
            </div>
            <div class="header-bg">
            <img class="header-bg-img" src="img/contact us/image 7.jpg" alt="tomato_all">
        </div>
    </header>

    

    <div class="main" id="app">

        <div class="container">
            <div class="row">
                <div class="main-caption col">

                    <h1>
                        Contact us
                    </h1>
                  
                    <div class="capitals">
                        <ul  v-for="capital in capitals">
                            <li>
                                {{capital}}
                            </li>
                        </ul>
                    </div>
                    <img class="xxxx" src="img/Union.svg" alt="xxxx">
                </div>
            </div>

            <div class="cart" >
                <div class="cart-item" v-if="cart" v-for="p in cart">
                    <div class="cart-item-info" >
                        <img :src=" 'img/tomato_all/' +p.image" alt="">
                        <p class="title">
                            {{p.title}}
                        </p>
        
                        <p class="disc">
                            {{p.short_text}}
                        </p>
                    </div>
                    <button @click.prevent=" removeFromCart(p.id)"> &#10006; </button>
                </div>
               
                
            </div>
            
                    <form action="#"  v-if="formVisible" @submit.prevent="makeOrder()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label>
                                        Name *
                                    </label>
                                    <input type="text" required v-model="contactFields.name">
                                </div>
                                <div class="text-field">
                                    <label>
                                        Company Name
                                    </label>
                                    <input type="text" v-model="contactFields.companyName">
                                </div>
                                <div class="text-field">
                                    <label>
                                        Position
                                    </label>
                                    <input type="text" v-model="contactFields.position">
                                </div>
                                <div class="text-field">
                                    <label>
                                        City
                                    </label>
                                    <input type="text" v-model="contactFields.city">
                                </div>
                                <div class="text-field">
                                    <label>
                                        Country
                                    </label>
                                    <input type="text" v-model="contactFields.country">
                                </div>
                                <div class="text-field">
                                    <label>
                                        Telephone
                                    </label>
                                    <input type="text" v-model="contactFields.telephone">
                                </div>
                                <div class="text-field" >
                                    <label >
                                        Email *
                                    </label>
                                    <input type="text" required v-model="contactFields.email">
                                </div>
                            </div>
                            <div class="offset-md-1 col-md-7">
                                <div class="list-field">
                                    <label>
                                        You are a
                                    </label>
                                    <select name="list1" id="1" v-model="contactFields.ocupation">
                                        <option value="0">seed producer</option>
                                    </select>
                                </div>
                                <div class="text-field">
                                    <label>
                                        If other, please specify
                                    </label>
                                    <input type="text" v-model="contactFields.other">
                                </div>
                                <div class="text-area-field">
                                    <label>
                                        You are interested in
                                    </label>
                                    <textarea name="" id="" cols="30" rows="10" v-model="contactFields.interests"></textarea>
                                </div>
                                
                                <label>
                                    Please type this code
                                </label>
                                <div class="submit-field">
                                    <img src="img/contact us/image 12.png" alt="capcha">
                                    <input type="text" v-model="contactFields.capcha">
                                    <button  >Send Message</button>
                                </div>


                            </div>
                        </div>

                    </form>


                    <div class="filled-form" v-if="!formVisible">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label>
                                        Name 
                                    </label>
                                    <p> {{contactFields.name}}</p>
                                </div>
                                <div class="text-field">
                                    <label>
                                        Company Name
                                    </label>
                                     <p> {{contactFields.companyName}} </p>
                                </div>
                                <div class="text-field">
                                    <label>
                                        Position
                                    </label>
                                   <p> {{contactFields.position}} </p>
                                </div> 
                                <div class="text-field">
                                    <label>
                                        City
                                    </label>
                                   <p> {{contactFields.city}} </p> 
                                </div>
                                <div class="text-field">
                                    <label>
                                        Country
                                    </label>
                                   <p>{{contactFields.country}} </p> 
                                </div>
                                <div class="text-field">
                                    <label>
                                        Telephone
                                    </label>
                                    <p>{{contactFields.telephone}} </p>
                                </div>
                                <div class="text-field" >
                                    <label >
                                        Email 
                                    </label>
                                    <p> {{contactFields.email}} </p>
                                </div>
                            </div>
                            <div class="offset-md-1 col-md-7">
                                <div class="list-field">
                                    <label>
                                        You are a
                                    </label>
                                    <p> {{contactFields.ocupation}} </p>
                                </div>
                                <div class="text-field">
                                    <label>
                                        If other, please specify
                                    </label>
                                    <p> {{contactFields.other}} </p>

                                </div>
                                <div class="text-area-field">
                                    <label>
                                        You are interested in
                                    </label>
                                    <p> {{contactFields.interests}} </p>
                                </div>
                                


                            </div>
                        </div>
                         </div>
                    </div>

                
            </div>
    </div>
    
    <div class="contacts">
        <div class="container">
            <div class="row">
                <div class="contacts-text col">
                    <h3>
                        Our Address 
                    </h3>
                    <p>
                        AGRIDERA Seeds & Agriculture Ltd.
                    </p>
                    <p>
                        P.O Box 103,
                    </p>
                    <p>
                        Gedera 70750, Israel.
                    </p>
                    <p>
                        Telephone: <a href="tel:+972 8 944 9222">+972 8 944 9222</a> 
                    </p>
                </div>
                
            </div>
        </div>
    </div>

    
    <footer>
            <div class="foobar">
                <div class="container">
                    <div class="row">
                        <div class="footer-menu col-md-8">
                            <a href="#">profile</a>
                            <a href="#">management</a>
                            <a href="#">products</a>
                            <a href="#">r&d</a>
                            <a href="#">links</a>
                            <a href="#">sitemap</a>
                            <a href="#">contact</a>
                        </div>
                        <div class="footer-links offset-md-1 col-md-3">
                            <a href="#">
                                <img src="img/Ico_in.svg" alt="in">
                            </a>
                            <a href="#">
                                <img src="img/Ico_inst.svg" alt="inst">
                            </a>
                            <a href="#">
                                <img src="img/Ico_tube.svg" alt="yt">
                            </a>
                            <a href="#">
                                <img src="img/Ico_tw.svg" alt="tw">
                            </a>
                            <a href="#">
                                <img src="img/Ico_fb.svg" alt="fb">
                            </a>
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyrights">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
    </footer>  
    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>