<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto&family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/tomato one.css">
    <link rel="stylesheet" href="css/responsive-tomato one.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Homepage</title>
</head>
<body>
    <header >
        <div class="container">
            <nav class="navbar navbar-expand-xl navbar-light">
    
                <a class="navbar-brand" href="#">
                    <img src="img/Logo_small.png" alt="Agridera" class="logo">
                </a>
                <button class="nav-btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="left-part-nav">
                    <div class="search">
                        <form class="search-field">
                            <input type="text" placeholder="Search.." name="search">
                            <button><img src="img/ico_search.svg" alt="search"></button>
                        </form>
                    </div>
    
                    <div class="nav-lnk collapse navbar-collapse " id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Company Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="tomato_all.html">Products</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">R & D</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="contact us.html">Contact</a>
                        </li>
                      </ul>
                    </div>
    
                </div>
            </nav>
        </div>
    </header>
    <div class="content" id="app">
        <div class="container">
            <div class="row">
                <a href="tomato_all.html">
                <div class="esc-btn col align-self-start">
                    
                        <img src="img/tomato_one/Arrow 1.png" alt="<-">
                        
                        <p>Return to all avocadoes</p>
                    </div>
                </a>
                    
                
            </div>
            <div class="main-content row">
                <div class="col-md-6">
                    <h1>
                        {{product.title}}
                    </h1>
                    <h2>
                        {{product.short_text}}
                    </h2>
                    
                    <img class="xxxx" src="img/Union.svg" alt="xxxx">
                    <div class="product-card-top">
                        <img class="product-img" :src=" 'img/tomato_all/' +product.image" alt="">
                        
                        <a href="#" @click.prevent="addToCart(product.id)" v-if="!btnVisible">
                            <div class="pdf-btn">   
                                <div class="pdf-btn-ins" >
                                    <img src="img/tomato_one/ico_pdf.png" alt="">
                                    <p>
                                        Add to cart
                                    </p>
                                </div>
                                

                            </div>
                        </a>

                        <a href="contact us.html" v-if="btnVisible">
                            <div class="pdf-btn">   
                                <div class="pdf-btn-ins" >
                                    <img src="img/tomato_one/ico_pdf.png" alt="">
                                    <p>
                                        Go to cart
                                    </p>
                                </div>
                                

                            </div>
                        </a>
                        </a>
                    </div>
                    <div class="quality-mark">
                        <img src="img/tomato_one/Group 17.png" alt="tomato">
                        <p>
                            Very high yield and excellent fruits quality!
                        </p>
                    </div>
                    <div class="plain-list">
                        <div class="list-caption">
                            <h3>
                                CHARACTERISTICS
                            </h3>
                        </div>
                        <h4>
                            Resistance
                        </h4>
                        <ul>
                            <li>
                                HR: ToMV:0-2; Fol: 1,2; Ve/Vd; 
                            </li>

                            <li>
                                IR: TYLCV

                            </li>
                        </ul>
                    </div>

                    <div class="dot-list">
                        <div class="list-caption">
                            <h3>
                                Plant
                            </h3>
                        </div>
                        <ul>
                            <li>
                                <span>Strong vigor that provides good leaf coverage. </span> 
                            </li>
                            <li>
                             <span>Very high productivity with good fruit setting.</span>   
                            </li>
                            <li>
                                <span>Early matured variety. </span>
                            </li>
                        </ul>
                    </div>

                    <div class="dot-list">
                        <div class="list-caption">
                            <h3>
                                Fruit
                            </h3>
                        </div>
                        <ul>
                            <li>
                              <span>Long shelf life on plant and post harvest.</span>  
                            </li>
                            <li>
                              <span>Nice shiny attractive deep red color.</span>  
                            </li>
                            <li>
                              <span>Average fruit size: 140 – 160 grams.</span>  
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class=" col-md-6">
                    <div class="product-card-right">
                            <img class="product-img" :src=" 'img/tomato_all/' +product.image" alt="">
                        
                        <a href="#" @click.prevent="addToCart(product.id)" v-if="!btnVisible">
                            <div class="pdf-btn">   
                                <div class="pdf-btn-ins" >
                                    <img src="img/tomato_one/ico_pdf.png" alt="">
                                    <p>
                                        Add to cart
                                    </p>
                                </div>
                                

                            </div>
                        </a>

                        <a href="contact us.html" v-if="btnVisible">
                            <div class="pdf-btn">   
                                <div class="pdf-btn-ins" >
                                    <img src="img/tomato_one/ico_pdf.png" alt="">
                                    <p>
                                        Go to cart
                                    </p>
                                </div>
                                

                            </div>
                        </a>
                    </div>
                   
                    
                    <div class="dot-list">
                        <div class="list-caption">
                            <h3>
                                Cycle
                            </h3>
                        </div>
                        <ul>
                            <li>
                                <span>Spring </span> 
                            </li>
                            <li>
                             <span>Fall</span>   
                            </li>
                            <li>
                                <span>Winter</span>
                            </li>
                        </ul>
                    </div>

                    <div class="plain-list">
                        <div class="list-caption">
                            <h3>
                                Color
                            </h3>
                        </div>
                      
                        <ul>
                            <li>
                                Red
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    
    
    <footer>
            <div class="foobar">
                <div class="container">
                    <div class="row">
                        <div class="footer-menu col-md-8">
                            <a href="#">profile</a>
                            <a href="#">management</a>
                            <a href="#">products</a>
                            <a href="#">r&d</a>
                            <a href="#">links</a>
                            <a href="#">sitemap</a>
                            <a href="#">contact</a>
                        </div>
                        <div class="footer-links offset-md-1 col-md-3">
                            <a href="#">
                                <img src="img/Ico_in.svg" alt="in">
                            </a>
                            <a href="#">
                                <img src="img/Ico_inst.svg" alt="inst">
                            </a>
                            <a href="#">
                                <img src="img/Ico_tube.svg" alt="yt">
                            </a>
                            <a href="#">
                                <img src="img/Ico_tw.svg" alt="tw">
                            </a>
                            <a href="#">
                                <img src="img/Ico_fb.svg" alt="fb">
                            </a>
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyrights">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
    </footer>  
    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>